# Build outputs
bin/
obj/

# IDE
.vs/
.vscode/
**/.idea/
*.DotSettings.user
*.user

# OS
.DS_Store

# Visual Studio source control
*.vspscc

# Database project artifacts
ReformDB/Database.refactorlog
ReformDB/ReformDB.dbmdl
ReformDB/ReformDB.jfm
